includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/

    level: 5
    ignoreErrors:
        - identifier: nullCoalesce.expr
        - identifier: nullsafe.neverNull
        - identifier: function.alreadyNarrowedType
        - identifier: argument.type
        - identifier: return.type
        - identifier: assign.propertyType
        - identifier: method.notFound
        - identifier: property.notFound
        - identifier: class.notFound
        - identifier: generics.notSubtype
        - identifier: generics.lessTypes